body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background-color: #333;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
}
footer{
    text-align: center;
    background-color: #333;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    color: white;
    padding: 20px 0px;
}
#logo{
    width: 100px;
}
nav{
    display: flex;
    gap: 20px;
}
.nav-link{
    color:whitesmoke;
    text-decoration: none;
    border: 1px solid whitesmoke;
    padding: 10px;
    border-radius: 10px;
}
#events{
    display: flex;
    justify-content: center ;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.event-card{
    text-align: center;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    height: 200px;

}
.details-btn{
    border: 1px solid #333;
    text-decoration: none;
    color: whitesmoke;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
}
#event-details{
    text-align: center;
    max-width: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    background-color: rgba(128, 43, 226, 0.815);
    padding: 20px;
    margin: 20px auto;
}
.apply{
    text-align: center;
    max-width: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 10);
    background-color: rgb(0, 247, 255);
    padding: 20px;
    margin: 20px auto;
}